.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(2, 13, 17) 0%, rgb(19, 29, 32) 69%, rgb(34, 44, 48) 89%) !important;
  font-family: 'BlinkMacSystemFont';
  font-size:15px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  background-color: #EAEAEA !important;
  /* font-family: -apple-system, system-ui, BlinkMacSystemFont; */
  font-family: 'BlinkMacSystemFont';
  font-size:15px;
}



/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    rgb(11, 36, 44) 0%,
     rgb(17, 61, 75) 69%,
      rgb(20, 84, 104) 89%
      ) !important;

  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.8em;
}

.masthead h1.ui.header {
  font-size: 5em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/


.navbarphoto {
  height: 45px;
  width: 45px; 
}

.height {
  height: 100px;
  width: 100px;
}

.water {
  height: 100px;
  width: 100px;
}

.weight {
  height: 100px;
  width: 100px;
}

.vitals  {
  height: 100px;
  width: 100px; 
}

.Height {
  margin-bottom: 10px;
  font-size: 30px;
}

.Water {
  margin-bottom: 10px;
  font-size: 30px;
}

.Weight {
  margin-bottom: 10px;
  font-size: 30px;
}

.Vitals  {
  margin-bottom: 10px;
  font-size: 30px;
}

