
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAEAEA !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(11, 36, 44) 0%, rgb(17, 61, 75) 69%, rgb(20, 84, 104) 89%) !important;
  text-decoration-color:white;
  font-size: 16px;
  height: 10vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}



.ui.container > .ui.message {
  box-shadow: none;
  padding: 3rem 3rem;
}

.ui.container h1.ui.header {
  font-size: 1.5rem;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .ui.container h1.ui.header {
    font-size: 3.2rem;
  }
}

.ui.container .ui.grid .row {
  margin-bottom: 1.0rem;
}

.lead {
  margin-top: 30px;
}

/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  /* background-image: linear-gradient(
    135deg,
    rgb(11, 36, 44) 0%,
     rgb(17, 61, 75) 69%,
      rgb(20, 84, 104) 89%
      ) !important; */

  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.8em;
}

.masthead h1.ui.header {
  font-size: 5em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/


.navbarphoto {
  height: 45px;
  width: 45px; 
}

.height {
  height: 150px;
  width: 150px;
}

.water {
  height: 150px;
  width: 150px;
}

.weight {
  height: 150px;
  width: 150px;
}

.vitals  {
  height: 150px;
  width: 150px; 
}


.text {
  margin-bottom: 550px;
  margin-left: 40px;
}

.textsize {
  font-size: 30px;
}

p {
  margin-top: 100px;
}